 # A quick primer in data management
 
##### By Mihai Croicu

##### Adapted and much simplified from Lecture 1 of Advanced Quantitative Methods

# 1. Prerequisites

First things first!

**It's a good idea to comment your code!**

All lines starting with `#` in R are called comments

For example:

In [2]:
# This is a comment

You can write comments around code you do not want to run. Like:

In [3]:
# sqX <- sqrt(X)
# lnX <- ln(X)

### Loading packages and setting up the environment.

Note that the R environment may contain whatever data and packages you may have had from the previous session. It is customary to discard them and start from scratch. Usually, the first line of code in any R file is:

In [6]:
rm(list=ls())

R contains modules that add fuctionalities to R called packages. 

You can install packages directly in R like this. You only need to do this step **once**. However, there is **nothing wrong** if you install packages each time you run your script. It may just be slow:

In [3]:
# To do cool graphics:
#install.packages('ggplot2')
# To do data manipulations:
#install.packages('tidyverse')
# To read excel:
#install.packages("readxl")

**Remember you always need to load packages before using them**.

In [5]:
library('ggplot2')
library('tidyverse')

In [4]:
a=c(10,25,50)

base::sum(a)
stats::lag(a)
sum(a)

[1] 85

[1] 85

# 2. Data structures and data

### A variable is an object storing data:

In [5]:
integer_var = 1
float_var = 1.5
nothing_var = NA
string_var = 'This is a string'
boolean_var = TRUE

# And we can do operations

integer_var + float_var
integer_var - float_var
integer_var * float_var
integer_var / float_var
integer_var == float_var
integer_var == 1
integer_var > float_var

[1] 2.5

[1] -0.5

[1] 1.5

[1] 0.6666667

[1] FALSE

[1] TRUE

[1] FALSE

In [36]:
NA == FALSE

[1] NA

# R is vectorial. 

## This means:

### we can store not only numbers, but also vectors and matrixes (collections of numbers)
### we can compute not only number additions, but also addition and multiplication of vectors and matrixes. All operations that work on numbers extend on  vectors and matrixes

So, for example:

## Vectors

### Vectors are lists of numbers.

In [8]:
X <- c(1,2,3,4,5)
Y <- c(10,20,30,40,50)
Z = c(X,Y)

### `c(elements)` makes vectors

In [9]:
X
Y
Z
c(Z,1)

[1] 1 2 3 4 5

[1] 10 20 30 40 50

 [1]  1  2  3  4  5 10 20 30 40 50

 [1]  1  2  3  4  5 10 20 30 40 50  1

#### And `:` makes sequences. 
`1:5 == c(1,2,3,4,5)`

In [10]:
seq_a=1:5
seq_b=c(1,2,3,4,5)
seq_a
seq_b
seq_a == seq_b

[1] 1 2 3 4 5

[1] 1 2 3 4 5

[1] TRUE TRUE TRUE TRUE TRUE

#### The size is given by length.

In [11]:
length(X)
length(Y)
length(Z)

[1] 5

[1] 5

[1] 10

#### And to get the n'th element, just do `VECTOR[element]` 
#### In R, the first element is 1


### The `[element]` in a vector is called an index

In [39]:
X[1]
X[3]
X

Y=c(1,2,5)
Y[3]

[1] 1

[1] 3

[1] 1 2 3 4 5

[1] 5

#### And you can partition using :

In [40]:
X[2:3]
Y[1:3]
X[-1]

[1] 2 3

[1] 1 2 5

[1] 2 3 4 5

### All operations are vectorial, thus, work on vectors automatically

In [19]:
X+Y

[1] 11 22 33 44 55

In [22]:
X
Y
X*Y

[1] 1 2 3 4 5

[1] 10 20 30 40 50

[1]  10  40  90 160 250

In [21]:
Y-X

[1]  9 18 27 36 45

In [17]:
X%*%Y

     [,1]
[1,] 550

### Data Frames

### Dataframes are sets of vectors, with each vector arranged as a column:

#### 1. Columns can be heterogenous - i.e. each column can be of a different type
#### 2. Columns have names.

In [24]:
country = c('Afghanistan','Pakistan','India','Uzbekistan')
gdp = c(2452,7932,6932,9201)
battles = c(64,81,12,20)
asia_fighting = data.frame(country=country, gdp=gdp, battles=battles)
asia_fighting

  country     gdp  battles
1 Afghanistan 2452 64
2 Pakistan    7932 81
3 India       6932 12
4 Uzbekistan  9201 20

In [25]:
## Indexing with a single [] will return a data frame IF POSSIBLE.
## ONE INDEX RETURNS THE COLUMN
asia_fighting['gdp']

## TWO INDEXES ARE ALWAYS row, column:
# First row:
asia_fighting[1,]

# First two rows:
asia_fighting[c(1,2),]

# First and third column
asia_fighting[,c(1,3)]

# Only GDP and Battles for third row
asia_fighting[3,c(2,3)]

# Only GDP and Battles for Uzbekistan
asia_fighting['country'=='Uzbekistan']

  gdp
1 2452
2 7932
3 6932
4 9201

  country     gdp  battles
1 Afghanistan 2452 64

  country     gdp  battles
1 Afghanistan 2452 64
2 Pakistan    7932 81

  country     battles
1 Afghanistan 64
2 Pakistan    81
3 India       12
4 Uzbekistan  20

  gdp  battles
3 6932 12

1
2
3
4

Calling with only ONE `[..]` will return a data frame if possible.

Always call with TWO `[[...]]` to return a vector or a scalar (single-value) number. However, it must ONLY return 1 column OR 1 row OR 1 value!

Be careful, since dataframes and vectors are manipulated in different ways.

In [26]:
asia_fighting['gdp']
asia_fighting[['gdp']]
asia_fighting$gdp

  gdp
1 2452
2 7932
3 6932
4 9201

[1] 2452 7932 6932 9201

[1] 2452 7932 6932 9201

In [27]:
asia_fighting[2,2]
asia_fighting[[2,2]]

[1] 7932

[1] 7932

# What is programming?

#### Programming means making a machine think.
#### Thinking (in this context) three things:

  1. Calculate stuff (e.g. 4*2, 2+10, mean(x), sd(y)). By calculate we mean simple stuff (addition, subtraction, division, multiplication and simple logic, i.e. AND, OR, NOT)!. This is called in CS-lingo "arithmetic".
  2. Store results in memory, and retrieve them for later use. This is called "assignment".
  2. make decisions (given some alternatives, pick 1, or more). This is called "logic".

#### And computers can only make TWO kinds of decisions:
  1. Choose, based on some logic, between doing something or something else. This is called "branching"
  2. Choose, based on some logic, to repeat an action a number of times (or until a condition is met). This is called "looping".
  All these decisions do one thing and one thing only - change the way the program is run (i.e. the program flow)

#### So all in all, a computer can only do four things <font color="red"><u>Arithmetic, Assignment, Branch, Loop</u></font>

![if](img/pf_if.png)

In [49]:
a <-64
#a <- -10
if (a>0) 
{
  print (sqrt(a))
} else {
  print ("I can't compute a square root of a negative number!")
}

[1] 8

![for](img/pf_for.png)

In [59]:
x <- 0
for (i in 1:5)
    {
    x <- x + 2^i
    print('******')
    print(i)
    print(x)
    }
print("DoneLoop")
x = x*10
print(x)

[1] "******"
[1] 1
[1] 2
[1] "******"
[1] 2
[1] 6
[1] "******"
[1] 3
[1] 14
[1] "******"
[1] 4
[1] 30
[1] "******"
[1] 5
[1] 62
[1] "DoneLoop"
[1] 620

![for](img/pf_for2.png)

In [60]:
vect = c(2,5,10,3)
x <- 0
for (i in vect)
    {
    x <- x + 2^i
    print('******')
    print(i)
    print(x)
    }
print("DoneLoop")
x = x*10
print(x)

[1] "******"
[1] 2
[1] 4
[1] "******"
[1] 5
[1] 36
[1] "******"
[1] 10
[1] 1060
[1] "******"
[1] 3
[1] 1068
[1] "DoneLoop"
[1] 10680

![for](img/pf_forfor.png)

In [171]:
a=matrix(c(1,2,3,-10,20,+30,15,-30,45,10,100,100),nrow=4, ncol=3)
a
nrow(a)
ncol(a)

for (i in 1:nrow(a)) 
{
    for (j in 1:ncol(a))
     {
         print (a[i,j])
     }
}

     [,1] [,2] [,3]
[1,]   1   20   45
[2,]   2   30   10
[3,]   3   15  100
[4,] -10  -30  100

[1] 4

[1] 3

[1] 1
[1] 20
[1] 45
[1] 2
[1] 30
[1] 10
[1] 3
[1] 15
[1] 100
[1] -10
[1] -30
[1] 100

## Functions

![func](img/pf_func.png)

#Anything looking like `XXXX(stuff)` is a function call!

`glm(y~X)` is a function call to the function `glm`. Thus, we don't need to write all the code doing regression each time we want to do a regression!

In [43]:
last_day_in_month <- function (month)
  { 
    months_i = c(31,28,31,30,31,30,31,31,30,30,30,31)
    return (months_i[month]) 
  }

last_day_in_month(3)
last_day_in_month(2)
months_i

[1] 31

[1] 28

ERROR: Error in eval(expr, envir, enclos): object 'months_i' not found

In [374]:
battles_by_month <- data.frame(battles=c(31,28,63,62,11,32,53,2), month=c(1,2,2,3,5,6,2,3), battles_by_day=NA)
battles_by_month

for (i in 1:nrow(battles_by_month))
{
  battles_by_month[i,'battles_by_day'] <- battles_by_month[i,'battles']/last_day_in_month(battles_by_month[i,'month'])
}
battles_by_month

  battles month battles_by_day
1 31      1     NA
2 28      2     NA
3 63      2     NA
4 62      3     NA
5 11      5     NA
6 32      6     NA
7 53      2     NA
8  2      3     NA

  battles month battles_by_day
1 31      1     1.00000000
2 28      2     1.00000000
3 63      2     2.25000000
4 62      3     2.00000000
5 11      5     0.35483871
6 32      6     1.06666667
7 53      2     1.89285714
8  2      3     0.06451613

# Data Management

## What is data management?

**It is gathering and manipulating data from a raw format to a format that suits your analytic tasks**.

It consists of the following processes:

1. **Filtering** - selecting only the information you need from the whole dataset; This entails filtering observations (e.g. only countries in Africa) and columns (e.g. only countries in Africa)
1. **Aggregation** - changing the unit of analysis to a coarser level;
1. **Disaggregation** - breaking down a coarse-level dataset to a finer level;
1. **Joining** -- Bringing together multiple datasets containing different kinds of observations for the same units (e.g. make one dataset from two datasets of countries, one containing GDP information and one containing conflict information);
1. **Union** -- "Glueing" together observations from two datasets having the same structures but different units
1. **Transforms** -- Changing data to suit your needs (recode, create derived measures etc.)


We are going to use a **language** for data management called **dplyr**. It's an extension to R, works well with base R, but makes life easy and allows good management to happen.

You can use it by loading either **dplyr** or **tidyverse** libraries.

## **Filtering**
![Filtering](img/dm_fil.png)

### We filter using the following functions

#### For columns:

`select(dataframe, c(ROWS WE WANT))`

Example `select(dataframe, c(country, gdp))`

#### For rows: 

`filter(dataframe, CONDITION)`

Example `filter(dataframe, gdp<10000)`
Available operators are `< > <= >= == is.na() !in.na() %in%`


`sample_frac(dataframe, PERC)`
`sample_n(dataframe, N)`

## **Aggregation**
![Filtering](img/dm_group.png)

## We do this in two steps!

`grouped_table = group_by(table, VARIABLES WE WANT TO GROUP BY)`

followed by

`summarized = summarize(grouped_table, variable = FUNCTION(column))`

There are many functions you can use:
`n(), sum(), avg(), median(), sd(), min(), max()`

# If you want only to eliminate duplicates from your dataset

You could very well do something like

`grouped_table = group_by(table, ALL VARIABLES)`

followed by

`eliminated = summarize(group table, new_var1 = max(var1) ...)`

But there are some helper functions so that you don't waste time when you have a lot of columns:

`distinct(table)`

AND

`summarize_all()`

## **Disaggregation**
![Filtering](img/dm_diss.png)

## **Joining**
![Filtering](img/dm_join.png)

## **Inner Joins**
![Filtering](img/dm_join_inner.png)

### Inner joins will only keep those observations that exist in BOTH table A and table B. This is the default behavior in almost all langages (`base R, dplyr, SQL, Pandas`).

#### Thus, ALWAYS be careful when joining not to lose observations by mistakes when you still need them

## **Left Joins**
![Filtering](img/dm_join_left.png)

### Left joins will only keep the structure of the LEFT table (table A). 

#### This allows you to carry a table-structure from the beginning of your data management work to the end, and take care of your NAs (missing observations) at the end of the work.

## **Right Joins**
![Filtering](img/dm_join_right.png)

### Right joins will only keep the structure of the RIGHT table (table B). 

#### Order thus matters. A x B is NOT B x A!

## **Outer Joins**
![Filtering](img/dm_join_outer.png)

### Outer joins will keep all observations in BOTH A AND B

#### Always check how your matching variable looks! Sometimes, in places like SQL, you have to specify to keep both the matching variables present in A and B, otherwise you may end up with NAs in the resulting table.

## Transform

![Filtering](img/dm_lag.png)

# THERE'S AN ORDER TO OPERATIONS

### 1. EXPLORE
### 2. PLAN
### 3. FILTER
### 4. AGGREGATE
### 5. UNION
### 6. JOIN


### If you need to x. TRANSFORM DATA, put this step in the dataset that has the FEWEST observations

Why do we do this? For performance! We first reduce the amount of data, so that computationally expensive merges



## We need a task

#### Task : I want to know whether there is a relationship between GDP growth and the number of conflicts in Sub-Saharan Africa between 2015 and 2018

### Let's first load some data

In [33]:
conflict = read_csv('https://raw.githubusercontent.com/mihaicroicu/AQMLecture1/master/Data/aqm1_conflict.csv')
country = read_csv('https://raw.githubusercontent.com/mihaicroicu/AQMLecture1/master/Data/aqm1_country.csv')

Parsed with column specification:
cols(
  conflict_id = col_double(),
  year = col_double(),
  country = col_character(),
  country_id = col_double(),
  side_a = col_character(),
  side_a_id = col_double(),
  side_b = col_character(),
  side_b_id = col_character(),
  fatalities = col_double(),
  type_of_conflict = col_character(),
  incompatibility = col_double(),
  territory_name = col_character()
)

Parsed with column specification:
cols(
  country_name = col_character(),
  cid = col_double(),
  country_id = col_double(),
  year = col_double(),
  proportion_educated = col_double(),
  gdp = col_double(),
  population = col_double()
)

## We can look at the data in various ways

### Look at a few rows

In [78]:
head(country)

  country_name cid country_id year proportion_educated gdp     population
1 Cape Verde   40  402        2010 0.284               1502.29 496
2 Cape Verde   40  402        2011 0.289               1509.93 499
3 Cape Verde   40  402        2012 0.293               1407.29 503
4 Cape Verde   40  402        2013 0.298               1492.12 506
5 Cape Verde   40  402        2014 0.303               1509.10 510
6 Cape Verde   40  402        2015 0.308               1513.00 513

In [79]:
head(conflict)

  conflict_id year country          country_id side_a
1 283         2016 DR Congo (Zaire) 490        Government of DR Congo (Zaire)
2 283         2017 DR Congo (Zaire) 490        Government of DR Congo (Zaire)
3 287         2015 Burundi          516        Government of Burundi
4 297         2016 Nigeria          475        Government of Nigeria
5 297         2017 Nigeria          475        Government of Nigeria
6 297         2015 Nigeria          475        Government of Nigeria
  side_a_id side_b
1 89        Kamuina Nsapu
2 89        CMC, CNPSC (Yakutumba), Kamuina Nsapu, M23, MNR
3 93        FPB, Military faction (forces of Godefroid Niyombare)
4 84        Jama'atu Ahlis Sunna Lidda'awati wal-Jihad
5 84        Jama'atu Ahlis Sunna Lidda'awati wal-Jihad
6 84        Jama'atu Ahlis Sunna Lidda'awati wal-Jihad
  side_b_id                    fatalities type_of_conflict incompatibility
1 6590                          164       3                2
2 1160, 3043, 6590, 6740, 6920 1608       3                2
3 6187, 6297                    133       3                2
4 1051                          162       4                2
5 1051                         1062       4                2
6 1051                         2703       4                2
  territory_name
1 NA
2 NA
3 NA
4 NA
5 NA
6 NA

### And find out a little bit about the type of data in the dataset

In [51]:
str(country)

Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	416 obs. of  7 variables:
 $ country_name       : chr  "Cape Verde" "Cape Verde" "Cape Verde" "Cape Verde" ...
 $ cid                : int  40 40 40 40 40 40 40 40 41 41 ...
 $ country_id         : int  402 402 402 402 402 402 402 402 437 437 ...
 $ year               : int  2010 2011 2012 2013 2014 2015 2016 2017 2010 2011 ...
 $ proportion_educated: num  0.284 0.289 0.293 0.298 0.303 0.308 0.315 0.322 0.214 0.222 ...
 $ gdp                : num  1502 1510 1407 1492 1509 ...
 $ population         : int  496 499 503 506 510 513 516 519 19738 20120 ...
 - attr(*, "spec")=List of 2
  ..$ cols   :List of 7
  .. ..$ country_name       : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ cid                : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ country_id         : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ year               : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ proportion_educated: list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  .. ..$ gdp                : list()
  .. .. ..- attr(*, "class")= chr  "collector_double" "collector"
  .. ..$ population         : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  ..$ default: list()
  .. ..- attr(*, "class")= chr  "collector_guess" "collector"
  ..- attr(*, "class")= chr "col_spec"
Classes ‘tbl_df’, ‘tbl’ and 'data.frame':	60 obs. of  12 variables:
 $ conflict_id     : int  283 283 287 297 297 297 309 309 309 314 ...
 $ year            : int  2016 2017 2015 2016 2017 2015 2015 2016 2017 2015 ...
 $ country         : chr  "DR Congo (Zaire)" "DR Congo (Zaire)" "Burundi" "Nigeria" ...
 $ country_id      : int  490 490 516 475 475 475 625 625 625 500 ...
 $ side_a          : chr  "Government of DR Congo (Zaire)" "Government of DR Congo (Zaire)" "Government of Burundi" "Government of Nigeria" ...
 $ side_a_id       : int  89 89 93 84 84 84 112 112 112 90 ...
 $ side_b          : chr  "Kamuina Nsapu" "CMC, CNPSC (Yakutumba), Kamuina Nsapu, M23, MNR" "FPB, Military faction (forces of Godefroid Niyombare)" "Jama'atu Ahlis Sunna Lidda'awati wal-Jihad" ...
 $ side_b_id       : chr  "6590" "1160, 3043, 6590, 6740, 6920" "6187, 6297" "1051" ...
 $ fatalities      : int  164 1608 133 162 1062 2703 1264 1314 128 197 ...
 $ type_of_conflict: chr  "3" "3" "3" "4" ...
 $ incompatibility : int  2 2 2 2 2 2 2 2 2 2 ...
 $ territory_name  : chr  NA NA NA NA ...
 - attr(*, "spec")=List of 2
  ..$ cols   :List of 12
  .. ..$ conflict_id     : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ year            : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ country         : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ country_id      : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ side_a          : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ side_a_id       : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ side_b          : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ side_b_id       : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ fatalities      : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ type_of_conflict: list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  .. ..$ incompatibility : list()
  .. .. ..- attr(*, "class")= chr  "collector_integer" "collector"
  .. ..$ territory_name  : list()
  .. .. ..- attr(*, "class")= chr  "collector_character" "collector"
  ..$ default: list()
  .. ..- attr(*, "class")= chr  "collector_guess" "collector"
  ..- attr(*, "class")= chr "col_spec"

### Let's check the temporal and spatial extent of the data.

Let's do this it like this.
1. We first take out the year column from the data.
2. We then only keep distinct observations so that we get 2015, 2016, 2017 and not 2015, 2015, 2015, 2015, 2015,...
3. We sort it, so that we don't get 2010, 2015, 2014, 2016

We do this using the **dplyr** `distinct()` function which returns deduplicated items

In [58]:
# First, filter
#country
extent <- select(country, year) 
#extent
# Then, aggregate We use distinct, because we only need a distinct copy!
extent <- distinct(extent, year)
#extent
# And then we sort and prepare the data
extent <- arrange(extent, year)

# And then we print the output
#
extent

  year
1 2010
2 2011
3 2012
4 2013
5 2014
6 2015
7 2016
8 2017

### Or, we can chain this with pipes.

In [60]:
distinct_year <- function(dataframe) {
    output <- select(dataframe,year)
    output <- distinct(output,year)
    output <- arrange(output, year)
    return(output)
}
distinct_year(country)

  year
1 2010
2 2011
3 2012
4 2013
5 2014
6 2015
7 2016
8 2017

In [69]:
distinct(country['country_name'])
distinct(conflict['country'])

   country_name
1  Cape Verde
2  Cote d'Ivoire
3  Ghana
4  Liberia
5  Burkina Faso
6  Guinea
7  Guinea-Bissau
8  Mali
9  Senegal
10 Sierra Leone
11 The Gambia
12 Djibouti
13 Eritrea
14 Ethiopia
15 Sudan
16 Algeria
17 Cameroon
18 Central African Republic
19 Tunisia
20 Benin
21 Equatorial Guinea
22 Niger
23 Nigeria
24 Togo
25 Somalia
26 Botswana
27 Burundi
28 Rwanda
29 Zambia
30 Zimbabwe
31 Comoros
32 Lesotho
33 Malawi
34 Mozambique
35 South Africa
36 Swaziland
37 Angola
38 Congo
39 Congo, DRC
40 Gabon
41 Namibia
42 Madagascar
43 Mauritius
44 Seychelles
45 Libya
46 Chad
47 Uganda
48 Kenya
49 Tanzania
50 Morocco
51 Mauritania
52 South Sudan

   country
1  DR Congo (Zaire)
2  Burundi
3  Nigeria
4  Sudan
5  Uganda
6  Ethiopia
7  Mozambique
8  Somalia
9  Cameroon
10 Mali
11 Rwanda
12 Algeria
13 Angola
14 Congo
15 Eritrea, Ethiopia
16 South Sudan
17 Libya
18 Niger
19 Chad
20 Kenya
21 Tunisia

## Let's plan

1. **Filter** = we only need the country name, country id, year and GDP column from the country table. We also only want data from 2015 and onwards, so let's filter for that as well. It's not needed now, but when we have 1.000.000 rows and an old laptop...
1. **Aggregate** = the conflict data to country level, taking the sum of fatalities. This will also filter it for us!
1. **Join** = We use the filtered country table as base. What kind of join do we need?
1. **DONE**

In [63]:
#FILTERING
filtered_country <- select(country, country_name, country_id, year, gdp)
filtered_country <- filter(filtered_country, year>=2015 & year<2019)
#filtered_country

country %>% select(country_name, country_id, year, gdp) %>% filter(year>=2015&year<2019)

    country_name  country_id year gdp
1   Cape Verde    402        2015 1513.00
2   Cape Verde    402        2016 1561.10
3   Cape Verde    402        2017 1712.70
4   Cote d'Ivoire 437        2015 3267.81
5   Cote d'Ivoire 437        2016 3465.94
6   Cote d'Ivoire 437        2017 2894.78
7   Ghana         452        2015 3950.29
8   Ghana         452        2016 4001.10
9   Ghana         452        2017 4157.05
10  Liberia       450        2015  788.56
11  Liberia       450        2016  756.72
12  Liberia       450        2017 1009.50
13  Burkina Faso  439        2015 1558.06
14  Burkina Faso  439        2016 1602.02
15  Burkina Faso  439        2017 1512.73
16  Guinea        438        2015 1189.35
17  Guinea        438        2016 1220.49
18  Guinea        438        2017 1271.53
19  Guinea-Bissau 404        2015 1430.84
20  Guinea-Bissau 404        2016 1473.04
21  Guinea-Bissau 404        2017 1660.13
22  Mali          432        2015 1928.42
23  Mali          432        2016 1972.12
24  Mali          432        2017 2275.19
25  Senegal       433        2015 2308.00
26  Senegal       433        2016 2392.11
27  Senegal       433        2017 2455.44
28  Sierra Leone  451        2015 1322.05
29  Sierra Leone  451        2016 1372.11
30  Sierra Leone  451        2017 1788.69
⋮   ⋮             ⋮          ⋮    ⋮
127 Seychelles    591        2015 25689.15
128 Seychelles    591        2016 26488.96
129 Seychelles    591        2017 27489.96
130 Libya         620        2015 17793.44
131 Libya         620        2016 17448.03
132 Libya         620        2017 17109.32
133 Chad          483        2015  2057.53
134 Chad          483        2016  1854.71
135 Chad          483        2017  2224.23
136 Uganda        500        2015  1700.50
137 Uganda        500        2016  1721.93
138 Uganda        500        2017  1885.35
139 Kenya         501        2015  2849.92
140 Kenya         501        2016  2940.39
141 Kenya         501        2017  3261.60
142 Tanzania      510        2015  2503.30
143 Tanzania      510        2016  2596.14
144 Tanzania      510        2017  2776.88
145 Morocco       600        2015  7326.71
146 Morocco       600        2016  7306.78
147 Morocco       600        2017  7712.69
148 Mauritania    435        2015  3620.30
149 Mauritania    435        2016  3590.79
150 Mauritania    435        2017  4238.56
151 Sudan         625        2015  4313.11
152 Sudan         625        2016  4408.34
153 Sudan         625        2017  4665.70
154 South Sudan   626        2015  1816.75
155 South Sudan   626        2016       NA
156 South Sudan   626        2017  1829.13

In [18]:
# AGGREGATION
grouped_conflict <- group_by(conflict,country_id,year)
conflicts_in_country <- summarize(grouped_conflict, number_of_conflicts=n(), fatalities=sum(fatalities))
conflicts_in_country

   country_id year number_of_conflicts fatalities
1  432        2015 3                    165
2  432        2016 1                     96
3  432        2017 2                    345
4  436        2015 1                    171
5  436        2016 1                    274
6  436        2017 1                    203
7  471        2015 2                    995
8  471        2016 2                    221
9  471        2017 1                     63
10 475        2015 2                   4622
11 475        2016 2                   2430
12 475        2017 2                   1879
13 483        2015 1                    272
14 483        2017 1                     57
15 484        2016 1                     51
16 490        2016 1                    164
17 490        2017 2                   1698
18 500        2015 1                    197
19 500        2016 1                    132
20 500        2017 1                    235
21 501        2015 1                     42
22 501        2016 1                     49
23 501        2017 1                     85
24 516        2015 1                    133
25 517        2016 1                    129
26 520        2015 1                   1178
27 520        2016 1                   1925
28 520        2017 1                   1837
29 530        2015 2                     50
30 530        2016 2                     50
31 531        2016 1                     25
32 540        2017 1                     25
33 541        2016 1                     26
34 615        2015 2                    110
35 615        2016 1                     86
36 615        2017 1                     60
37 616        2016 1                     72
38 620        2015 2                    274
39 620        2016 1                   1678
40 620        2017 2                    404
41 625        2015 1                   1264
42 625        2016 1                   1314
43 625        2017 1                    128
44 626        2015 1                    493
45 626        2016 1                    735
46 626        2017 1                    465

In [19]:
final_dataset <- left_join(filtered_country, conflicts_in_country, by=c('country_id','year'))
final_dataset

    country_name  country_id year gdp      number_of_conflicts fatalities
1   Cape Verde    402        2015 1513.00  NA                   NA
2   Cape Verde    402        2016 1561.10  NA                   NA
3   Cape Verde    402        2017 1712.70  NA                   NA
4   Cote d'Ivoire 437        2015 3267.81  NA                   NA
5   Cote d'Ivoire 437        2016 3465.94  NA                   NA
6   Cote d'Ivoire 437        2017 2894.78  NA                   NA
7   Ghana         452        2015 3950.29  NA                   NA
8   Ghana         452        2016 4001.10  NA                   NA
9   Ghana         452        2017 4157.05  NA                   NA
10  Liberia       450        2015  788.56  NA                   NA
11  Liberia       450        2016  756.72  NA                   NA
12  Liberia       450        2017 1009.50  NA                   NA
13  Burkina Faso  439        2015 1558.06  NA                   NA
14  Burkina Faso  439        2016 1602.02  NA                   NA
15  Burkina Faso  439        2017 1512.73  NA                   NA
16  Guinea        438        2015 1189.35  NA                   NA
17  Guinea        438        2016 1220.49  NA                   NA
18  Guinea        438        2017 1271.53  NA                   NA
19  Guinea-Bissau 404        2015 1430.84  NA                   NA
20  Guinea-Bissau 404        2016 1473.04  NA                   NA
21  Guinea-Bissau 404        2017 1660.13  NA                   NA
22  Mali          432        2015 1928.42   3                  165
23  Mali          432        2016 1972.12   1                   96
24  Mali          432        2017 2275.19   2                  345
25  Senegal       433        2015 2308.00  NA                   NA
26  Senegal       433        2016 2392.11  NA                   NA
27  Senegal       433        2017 2455.44  NA                   NA
28  Sierra Leone  451        2015 1322.05  NA                   NA
29  Sierra Leone  451        2016 1372.11  NA                   NA
30  Sierra Leone  451        2017 1788.69  NA                   NA
⋮   ⋮             ⋮          ⋮    ⋮        ⋮                   ⋮
127 Seychelles    591        2015 25689.15 NA                    NA
128 Seychelles    591        2016 26488.96 NA                    NA
129 Seychelles    591        2017 27489.96 NA                    NA
130 Libya         620        2015 17793.44  2                   274
131 Libya         620        2016 17448.03  1                  1678
132 Libya         620        2017 17109.32  2                   404
133 Chad          483        2015  2057.53  1                   272
134 Chad          483        2016  1854.71 NA                    NA
135 Chad          483        2017  2224.23  1                    57
136 Uganda        500        2015  1700.50  1                   197
137 Uganda        500        2016  1721.93  1                   132
138 Uganda        500        2017  1885.35  1                   235
139 Kenya         501        2015  2849.92  1                    42
140 Kenya         501        2016  2940.39  1                    49
141 Kenya         501        2017  3261.60  1                    85
142 Tanzania      510        2015  2503.30 NA                    NA
143 Tanzania      510        2016  2596.14 NA                    NA
144 Tanzania      510        2017  2776.88 NA                    NA
145 Morocco       600        2015  7326.71 NA                    NA
146 Morocco       600        2016  7306.78 NA                    NA
147 Morocco       600        2017  7712.69 NA                    NA
148 Mauritania    435        2015  3620.30 NA                    NA
149 Mauritania    435        2016  3590.79 NA                    NA
150 Mauritania    435        2017  4238.56 NA                    NA
151 Sudan         625        2015  4313.11  1                  1264
152 Sudan         625        2016  4408.34  1                  1314
153 Sudan         625        2017  4665.70  1                   128
154 South Sudan   626        2015  1816.75  1                   493
155 South Sudan   626        2016       NA  1                   735
156 South Sudan   626        2017  1829.13  1                   465

But what if the columns in A and B don't match by name before joining
We actually need to rename these!

We use dplyr's `rename()`. Let's try it here instead 

I don't like `number_of_conflicts` as a column name, I would prefer `count_conflicts` instead. Shorter!

In [66]:
final_data_renamed <- rename(final_dataset, count_conflicts = number_of_conflicts)
final_data_renamed

ERROR: Error in rename(final_dataset, count_conflicts = number_of_conflicts): object 'final_dataset' not found

### We're done, right?

### Nope. Look at the conflict columns!

### Let's fix this!

## Let's plan

1. **Fiter** = we only need the country name, country id, year and GDP column from the country table. We also only want data from 2015 and onwards, so let's filter for that as well. It's not needed now, but when we have 1.000.000 rows and an old laptop...
1. **Aggregate** = the conflict data to country level, taking the sum of fatalities. This will also filter it for us!
1. **Join** = We use the filtered country table as base. What kind of join do we need?
1. <font color='red'> **Transform** = Since the conflict table only contained conflicts, countries that did not match have 0 (NO CONFLICTS) and not NA (unknown/unregistered conflicts). We need to fix this. </font>
1. **DONE**

In [65]:
# We need to do this because, 0 is, by default, stored as a real number, i.e. 0.0000000000
# And the column we want to replace is integer, so expects 0.
# This is an R thing. 
zero <- as.integer(0)

really_final <- mutate(final_data_renamed, 
                       count_conflicts=coalesce(count_conflicts,as.integer(0)),
                       fatalities=coalesce(fatalities,as.integer(0)))

arrange(really_final,country_id,year)

ERROR: Error in mutate(final_data_renamed, count_conflicts = coalesce(count_conflicts, : object 'final_data_renamed' not found

### But I asked the prof. and the prof. said that I shouldn't use GDP, I should instead use the logarithm of GDP!

In [29]:
with_logs <- mutate(really_final, log_gdp=log(gdp+1))
with_logs

# Always add +1 when doing logs. Why? Because log(0) does not exist, but log(1)=0!

    country_name  country_id year gdp      count_conflicts fatalities log_gdp
1   Cape Verde    402        2015 1513.00  0                 0        7.322510
2   Cape Verde    402        2016 1561.10  0                 0        7.353786
3   Cape Verde    402        2017 1712.70  0                 0        7.446410
4   Cote d'Ivoire 437        2015 3267.81  0                 0        8.092181
5   Cote d'Ivoire 437        2016 3465.94  0                 0        8.151028
6   Cote d'Ivoire 437        2017 2894.78  0                 0        7.971010
7   Ghana         452        2015 3950.29  0                 0        8.281797
8   Ghana         452        2016 4001.10  0                 0        8.294575
9   Ghana         452        2017 4157.05  0                 0        8.332801
10  Liberia       450        2015  788.56  0                 0        6.671476
11  Liberia       450        2016  756.72  0                 0        6.630314
12  Liberia       450        2017 1009.50  0                 0        6.918201
13  Burkina Faso  439        2015 1558.06  0                 0        7.351838
14  Burkina Faso  439        2016 1602.02  0                 0        7.379645
15  Burkina Faso  439        2017 1512.73  0                 0        7.322332
16  Guinea        438        2015 1189.35  0                 0        7.082003
17  Guinea        438        2016 1220.49  0                 0        7.107827
18  Guinea        438        2017 1271.53  0                 0        7.148762
19  Guinea-Bissau 404        2015 1430.84  0                 0        7.266716
20  Guinea-Bissau 404        2016 1473.04  0                 0        7.295762
21  Guinea-Bissau 404        2017 1660.13  0                 0        7.415253
22  Mali          432        2015 1928.42  3               165        7.564975
23  Mali          432        2016 1972.12  1                96        7.587371
24  Mali          432        2017 2275.19  2               345        7.730258
25  Senegal       433        2015 2308.00  0                 0        7.744570
26  Senegal       433        2016 2392.11  0                 0        7.780349
27  Senegal       433        2017 2455.44  0                 0        7.806468
28  Sierra Leone  451        2015 1322.05  0                 0        7.187695
29  Sierra Leone  451        2016 1372.11  0                 0        7.224834
30  Sierra Leone  451        2017 1788.69  0                 0        7.489798
⋮   ⋮             ⋮          ⋮    ⋮        ⋮               ⋮          ⋮
127 Seychelles    591        2015 25689.15 0                  0       10.153863
128 Seychelles    591        2016 26488.96 0                  0       10.184521
129 Seychelles    591        2017 27489.96 0                  0       10.221613
130 Libya         620        2015 17793.44 2                274        9.786641
131 Libya         620        2016 17448.03 1               1678        9.767039
132 Libya         620        2017 17109.32 2                404        9.747437
133 Chad          483        2015  2057.53 1                272        7.629747
134 Chad          483        2016  1854.71 0                  0        7.526023
135 Chad          483        2017  2224.23 1                 57        7.707616
136 Uganda        500        2015  1700.50 1                197        7.439265
137 Uganda        500        2016  1721.93 1                132        7.451782
138 Uganda        500        2017  1885.35 1                235        7.542399
139 Kenya         501        2015  2849.92 1                 42        7.955397
140 Kenya         501        2016  2940.39 1                 49        7.986638
141 Kenya         501        2017  3261.60 1                 85        8.090280
142 Tanzania      510        2015  2503.30 0                  0        7.825765
143 Tanzania      510        2016  2596.14 0                  0        7.862166
144 Tanzania      510        2017  2776.88 0                  0        7.929443
145 Morocco       600        2015  7326.71 0                  0        8.899418
146 Morocco       600        2016  7306.78 0                  0        8.896695
147 Morocco       600        2017  7712.69 0                  0        8.950752
148 Mauritania    435        2015  3620.30 0                  0        8.194588
149 Mauritania    435        2016  3590.79 0                  0        8.186406
150 Mauritania    435        2017  4238.56 0                  0        8.352215
151 Sudan         625        2015  4313.11 1               1264        8.369646
152 Sudan         625        2016  4408.34 1               1314        8.391480
153 Sudan         625        2017  4665.70 1                128        8.448207
154 South Sudan   626        2015  1816.75 1                493        7.505355
155 South Sudan   626        2016       NA 1                735              NA
156 South Sudan   626        2017  1829.13 1                465        7.512142

### And I asked the prof. and the prof. said that I should also _lag_ GDP
We frequently use lags, because cause->effect relations take time to develop. It's likely that an economic collapse won't trigger conflict immediately, but in a year!. So we use last year's GDP to see if it has an effect on conflict.

In [47]:
with_lags <- really_final %>% arrange(country_name, year) %>% group_by(country_name) %>% mutate(lagged_gdp = lag(gdp))

# OR, if you want it without pipes
with_lags <- arrange(really_final,country_name, year)
with_lags <- group_by(with_lags,country_name)
with_lags <- mutate(with_lags,lagged_gdp = lag(gdp))

with_lags

#Why did we need to arrange the data first?
#Why did we need to group it afterwards?
#Can we compute a change in GDP from past year to current year? How?

    country_name             country_id year gdp      count_conflicts
1   Algeria                  615        2015 13807.18 2
2   Algeria                  615        2016 14059.21 1
3   Algeria                  615        2017 14353.67 1
4   Angola                   540        2015  6265.56 0
5   Angola                   540        2016  6057.95 0
6   Angola                   540        2017  1563.85 1
7   Benin                    434        2015  1996.73 0
8   Benin                    434        2016  2019.64 0
9   Benin                    434        2017  2005.93 0
10  Botswana                 571        2015 15450.28 0
11  Botswana                 571        2016 15608.32 0
12  Botswana                 571        2017 16987.37 0
13  Burkina Faso             439        2015  1558.06 0
14  Burkina Faso             439        2016  1602.02 0
15  Burkina Faso             439        2017  1512.73 0
16  Burundi                  516        2015   751.68 1
17  Burundi                  516        2016   724.18 0
18  Burundi                  516        2017   824.07 0
19  Cameroon                 471        2015  3006.36 2
20  Cameroon                 471        2016  3061.40 2
21  Cameroon                 471        2017  3096.99 1
22  Cape Verde               402        2015  1513.00 0
23  Cape Verde               402        2016  1561.10 0
24  Cape Verde               402        2017  1712.70 0
25  Central African Republic 482        2015   628.97 0
26  Central African Republic 482        2016   650.54 0
27  Central African Republic 482        2017   780.49 0
28  Chad                     483        2015  2057.53 1
29  Chad                     483        2016  1854.71 0
30  Chad                     483        2017  2224.23 1
⋮   ⋮                        ⋮          ⋮    ⋮        ⋮
127 South Sudan              626        2015  1816.75 1
128 South Sudan              626        2016       NA 1
129 South Sudan              626        2017  1829.13 1
130 Sudan                    625        2015  4313.11 1
131 Sudan                    625        2016  4408.34 1
132 Sudan                    625        2017  4665.70 1
133 Swaziland                572        2015  8099.64 0
134 Swaziland                572        2016  7777.69 0
135 Swaziland                572        2017  7804.44 0
136 Tanzania                 510        2015  2503.30 0
137 Tanzania                 510        2016  2596.14 0
138 Tanzania                 510        2017  2776.88 0
139 The Gambia               420        2015  1595.62 0
140 The Gambia               420        2016  1573.09 0
141 The Gambia               420        2017  1935.93 0
142 Togo                     461        2015  1356.98 0
143 Togo                     461        2016  1388.44 0
144 Togo                     461        2017  1203.83 0
145 Tunisia                  616        2015 10813.10 0
146 Tunisia                  616        2016 10815.27 1
147 Tunisia                  616        2017 12003.94 0
148 Uganda                   500        2015  1700.50 1
149 Uganda                   500        2016  1721.93 1
150 Uganda                   500        2017  1885.35 1
151 Zambia                   551        2015  3646.04 0
152 Zambia                   551        2016  3654.95 0
153 Zambia                   551        2017  4325.47 0
154 Zimbabwe                 552        2015  1899.81 0
155 Zimbabwe                 552        2016  1868.81 0
156 Zimbabwe                 552        2017   164.93 0
    fatalities lagged_gdp
1   110              NA
2    86        13807.18
3    60        14059.21
4     0              NA
5     0         6265.56
6    25         6057.95
7     0              NA
8     0         1996.73
9     0         2019.64
10    0              NA
11    0        15450.28
12    0        15608.32
13    0              NA
14    0         1558.06
15    0         1602.02
16  133              NA
17    0          751.68
18    0          724.18
19  995              NA
20  221         3006.36
21   63         3061.40
22    0              NA
23    0         1513.00
24    0         1561.10
25    0              NA
26    0          628.97
27    0          650.54
28  272              NA
29    0         2057.53
30   57         1854.71
⋮   ⋮          ⋮
127  493             NA
128  735        1816.75
129  465             NA
130 1264             NA
131 1314        4313.11
132  128        4408.34
133    0             NA
134    0        8099.64
135    0        7777.69
136    0             NA
137    0        2503.30
138    0        2596.14
139    0             NA
140    0        1595.62
141    0        1573.09
142    0             NA
143    0        1356.98
144    0        1388.44
145    0             NA
146   72       10813.10
147    0       10815.27
148  197             NA
149  132        1700.50
150  235        1721.93
151    0             NA
152    0        3646.04
153    0        3654.95
154    0             NA
155    0        1899.81
156    0        1868.81

Sometimes, you want to lag (shift) by more than 1 year in the past. Use `lag(VARIABLE, nL)` where n is the number of rows to go back. 

Example, 
`with_lags <- mutate(with_lags,lagged_gdp = lag(gdp, 10L))`
would lag 10 years, not one.

Sometimes, you want data from the future. This is called a `lead`, and the function is `lead()`. Works the same as `lag()`.

# Advice : Keep your data clean!

## Clean (or _tidy_ in R lingo) means:

## 1. One variable per column
## 2. One observation per row

If you have a country-year dataset containing GDP and Population, each row should be a country-year, and GDP and Population their own columns. Of course, the country name (and identifier) and year should be included.

If this is not the case, you can use `gather()` and `spread()`

In [49]:
#These examples come directly from dplyr(). Why is this NOT CLEAN?
table2

   country     year type       count
1  Afghanistan 1999 cases             745
2  Afghanistan 1999 population   19987071
3  Afghanistan 2000 cases            2666
4  Afghanistan 2000 population   20595360
5  Brazil      1999 cases           37737
6  Brazil      1999 population  172006362
7  Brazil      2000 cases           80488
8  Brazil      2000 population  174504898
9  China       1999 cases          212258
10 China       1999 population 1272915272
11 China       2000 cases          213766
12 China       2000 population 1280428583

In [54]:
#And let's clean it up!
#spread() takes multi-row observations and turns it into a single row with multiple observations
spread(table2, key = type, value = count)

  country     year cases  population
1 Afghanistan 1999    745   19987071
2 Afghanistan 2000   2666   20595360
3 Brazil      1999  37737  172006362
4 Brazil      2000  80488  174504898
5 China       1999 212258 1272915272
6 China       2000 213766 1280428583

In [58]:
table4a
#Why is this one not clean?

  country     1999   2000
1 Afghanistan    745   2666
2 Brazil       37737  80488
3 China       212258 213766

In [63]:
#And let's clean it up!
#spread() takes multi-column observations and turns it into a single row with multiple observations
gather(table4a,`1999`, `2000`, key = "year", value = "deaths")

  country     year deaths
1 Afghanistan 1999    745
2 Brazil      1999  37737
3 China       1999 212258
4 Afghanistan 2000   2666
5 Brazil      2000  80488
6 China       2000 213766

# Documentation and future help!

## A cheatsheet:

https://github.com/rstudio/cheatsheets/blob/master/data-transformation.pdf

## And documentation:
https://cran.r-project.org/web/packages/dplyr/vignettes/dplyr.html

## A whole book on this:
https://r4ds.had.co.nz/

# HOMEWORK!

https://github.com/mihaicroicu/AQM2020/blob/master/assignments/assignment1.1.md